.about {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        color: $accent2;
        font-size: 2rem;
        line-height: 0;
    }

    p {
        margin-bottom: 20px;
    }

    .headshot {
        width: 80%;
        margin: 0 auto 20px auto;
    }

    a {
        width: 100%;
        display: block;
    }

    .prism {
        margin: 40px auto 0 auto;
    }
}

@media (min-width: 550px) {
    .about {

        .headshot {
            width: 50%;
        }
    }
}

@media (min-width: 800px) {
    .about {
        text-align: left;
        width: 80%;

        .flexContainer {
            display: flex;
            flex-direction: row;
            margin: 30px 0;
        }

        .headshot {
            width: 35%;
            margin: 0;
        }

        p {
            width: 65%;
            padding: 0 30px;
        }
    }
}