.about {
    text-align: left;
    
    span {
        color: $accent2;
        font-size: 2rem;
        line-height: 0;
    }

    p {
        margin-bottom: 20px;
    }

    img {
        border-radius: 5px;
        width: 80%;
        margin: 0 auto 20px auto;
    }

    a {
        width: 100%;
        display: block;
    }

    .prism {
        margin: 40px auto 0 auto;
    }
}