.contact {
	background-color: $background;

	a {
		color: $mainFont;
		transition: color $transition;

		&:hover {
			color: $accent2;
		}
	}

	a:nth-of-type(1) {
		text-decoration: underline;
	}

	p {
		padding-bottom: 20px;
		text-align: center;
	}

	form {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
		padding: 30px 0;

		input,
		textarea {
			width: 100%;
			border: none;
			border: 1px solid transparent;
			border-bottom: 1px solid $mainFont;
			background-color: $background;
			padding: 10px 10px;
			margin-bottom: 10px;
			border-radius: 0;

			&:focus {
				border: 1px dotted $accent2;
			}
		}

        textarea {
            height: 120px;
        }

		button {
			background-color: $mainFont;
			color: $background;
			width: 60%;
			border: none;
			border-radius: 25px;
			margin: 15px auto;
			padding: 5px 15px;
			text-transform: lowercase;
			font-size: 0.6rem;
			transition: all $transition;
			display: block;

			&:hover {
				background-color: $accent2;
				color: black;
				font-weight: bold;
			}

			&:focus {
				box-shadow: 5px 5px 0 0 $accent2;
			}
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-top: 20px;

		a {
			padding: 20px;
		}
	}

	h3 {
		text-align: center;
	}
}

@media (min-width: 600px) {
	form {

		.flexContainer {
			display: flex;
			flex-direction: row;
        }
        
        .name {
            margin-right: 10px;
        }
	}
}

@media (min-width: 800px) {
	.contact {
		width: 80%;
	}
}
