html {
	font-size: 125%;
	color: $mainFont;
	font-family: $sansSerifFont;
}

img {
	display: block;
	width: 100%;
}

h1,
h2, 
h3 {
	font-family: $serifFont;
}

h2 {
	position: relative;
	text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
	
	&::after {
		content: '';
		width: 60%;
		height: 3px;
		background-color: $accent2;
		position: absolute;
		left: 20%;
		bottom: -5px;
	}
}

h3 {

	span {
        color: $accent2;
        font-size: 2rem;
        line-height: 0;
    }
}

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	border: 1px solid transparent;

	&:focus {
		border: 1px dotted $accent2;
		outline: none;
	}
}

ul {
	list-style: none;
}

.wrapper {
	width: 90%;
	height: 100%;
	max-width: 950px;
	margin: 0 auto;
}

main section {
    padding: 50px 0;
}

section .prism {
	margin: 40px auto 0 auto;
}