/* These skip link styles came from the notes, not my head*/
.skipLink { 
    position: absolute;
    display: block;
    padding: 15px;
    border-radius: 10px;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: $background;
    color: $mainFont;
}

.skipLink:focus {
  right: 15px;
  left: auto;
  top: 15px;
}

header {
	min-height: 100vh;
	background-color: $background;
	display: flex;
	flex-direction: column;
}

.headerContent {
	width: 100%;
	flex-grow: 1;
    text-align: left;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        height: 100%;
        position: relative;
	}

    .backgroundText {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        font-size: 5rem;
        font-weight: bold;
        color: lighten(grey, 40%);
        z-index: 0;
        text-transform: uppercase;
        line-height: 4rem;
        word-wrap: break-word;
    }

    h1 {
        padding-top: 50%;
        line-height: 2.3rem;
        z-index: 99;
    }
    
    span {
        position: relative;
    }
    
    span::after {
        content: '';
        height: 8px;
        width: 100%;
        background-color: $accent2;
        position: absolute;
        bottom: 8px;
        left: 0;
        z-index: -1;
    }
    
    a {
        font-size: 1.7rem;
        color: $accent2;
        display: block;
        width: 100%;
        text-align: center;
        z-index: 99;
        margin: auto 0 50px 0;
    }
}
