.menu {
	width: 100%;
	background-color: rgba($background, 0.5);
	padding: 1px 0;
	position: fixed;
	margin: 0;
	z-index: 999;

	.wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		// justify-content: space-between;
    }
    
	.links {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		text-transform: uppercase;
		font-size: 0.8rem;

		a {
			padding: 10px;
			color: $mainFont;
			transition: color $transition;
		}

		a:hover {
			color: $accent2;
		}
	}

    .pageLinks {
        margin: 0 auto;
    }

	.name {
		font-size: 1.2rem;
	}

	span {
		color: green;
		font-weight: bold;
		font-size: 200%;
		line-height: 0;
	}
}
