header .menu {
	display: none;
}

.menuOpen:hover, .closeMenu:hover {
	cursor: pointer;
}

.menuLabel {
	font-size: 0.6rem;
	padding-left: 23px;
}

.menu {
	width: 60%;
	height: 100vh;
	background-color: rgba($background, 0.9);
	padding: 1px 0;
	position: fixed;
	right: 0;
	top: 0;
	margin: 0;
	z-index: 999;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.closeMenu {
		text-align: right;
		padding: 10px 15px 0 0;
		color: $mainFont;
		transition: color $transition;

		&:hover {
			color: $accent2;
		}
	}

	.links {
		padding: 0;
		text-transform: uppercase;
		font-size: 0.8rem;

		a {
			padding: 8px;
			color: $mainFont;
			transition: color $transition;
		}

		a:hover {
			color: $accent2;
		}
	}

	.pageLinks {
		a {
			display: block;
		}
	}

	.socialLinks {
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
		font-size: 1rem;
	}

	.name {
		font-size: 1.2rem;
	}

	span {
		color: green;
		font-weight: bold;
		font-size: 200%;
		line-height: 0;
	}
}
