header .menu {
	display: none;
}

.menuOpen:hover, .closeMenu:hover {
	cursor: pointer;
}

.menuLabel {
	font-size: 0.6rem;
	padding-left: 23px;
}

.menu {
	width: 60%;
	height: 100vh;
	background-color: rgba($background, 0.9);
	padding: 1px 0;
	position: fixed;
	right: 0;
	top: 0;
	margin: 0;
	z-index: 999;

	.wrapper {
		width: 75%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
	}

	.closeMenu {
		text-align: right;
		padding: 10px 15px 0 0;
		color: $mainFont;
		transition: color $transition;

		&:hover {
			color: $accent2;
		}
	}

    .desktopPrism {
        display: none;
    }
    
	.links {
		padding: 0;
		text-transform: uppercase;
		font-size: 0.8rem;

		a {
			padding: 8px;
			color: $mainFont;
			transition: color $transition;
		}

		a:hover {
			color: $accent2;
		}
	}

	.pageLinks {
		flex-grow: 2;
		padding-top: 50px;
		
		a {
			display: block;
		}
	}
	
	.socialLinks {
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;
		font-size: 1rem;
	}

	.name {
		font-size: 1.2rem;
	}

	span {
		color: green;
		font-weight: bold;
		font-size: 200%;
		line-height: 0;
	}
}

@media (min-width: 500px) {
	.menu {
		width: 30%;
	}
}

@media (min-width: 800px) {
    header .menu {
		display: block;
		width: 20%;
	}

	.menuOpen {
		display: none;
	}

	.menu {

		.closeMenu {
			display: none;
		}
	
		.desktopPrism {
			display: block;
			margin: 30px auto;
		}
	}
    
}