.portfolio {
    
    .project {
        margin-bottom: 45px;
	}
    
    img {
        width: 100%;
        margin: 30px auto;
        border: 0.5px solid $mainFont;
    }

    .subtitle {
        font-size: 0.6rem;
        text-transform: uppercase;
        padding-bottom: 20px;
        font-weight: bold;

        .interpunt {
            font-size: 1rem;
            color: $accent2;
            line-height: 0;
        }

        em {
            font-style: initial;
            font-weight: initial;
        }
    }
    
    h3 {
        font-size: 1.1rem;
        font-weight: bold;
        padding-bottom: 20px;
        display: inline-block;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: $accent2;
            position: absolute;
            left: 0;
            bottom: 15px;
        }
    }

	.project a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
		width: 35%;
		margin: 20px auto;
		padding: 5px 15px;
        color: $background;
        background-color: $mainFont;
        border-radius: 25px;
        text-transform: lowercase;
        font-size: 0.6rem;
        transition: all $transition;

        &:hover {
            background-color: $accent2;
            color: black;
            font-weight: bold;
        }

        i {
            font-size: 0.5rem;
        }
	}
}
