.portfolio {
	min-height: 100vh;

	.project {
		margin-bottom: 45px;
	}

	.screenshot {
		width: 100%;
		margin: 30px auto 10px auto;
	}

	.subtitle {
		font-size: 0.6rem;
		text-transform: uppercase;
		padding: 5px 0 20px 0;
		font-weight: bold;

		.interpunt {
			font-size: 1rem;
			color: $accent2;
			line-height: 0;
		}

		em {
			font-style: initial;
			font-weight: initial;
		}
	}

	h3 {
		font-size: 1.1rem;
		font-weight: bold;
		padding-bottom: 20px;
		display: block;
		position: relative;
		text-align: center;
	}

	.description {
		text-align: center;
	}

	.project a {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 35%;
		margin: 20px auto;
		padding: 5px 15px;
		color: $background;
		background-color: $mainFont;
		border-radius: 25px;
		text-transform: lowercase;
		font-size: 0.6rem;
		transition: all $transition;

		&:hover {
			background-color: $accent2;
			color: black;
			font-weight: bold;
		}

		&:focus {
			box-shadow: 5px 5px 0 0 $accent2;
			outline: none;
		}

		i {
			font-size: 0.5rem;
		}
	}

	a {
        width: 100%;
        display: block;
	}
	
    .side {
		border: 1px solid $accent2;
    }
}

@media (min-width: 800px) {
	.portfolio {
		width: 80%;

		.project {
            padding: 30px 0;
            display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.project:nth-of-type(4) {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.screenshot {
			width: 50%;
			margin: 0;
		}

		.projectDescription {
            width: 50%;
            padding: 0 50px;
		}

		h3 {
            text-align: left;
            padding-bottom: 10px;
		}

		.description {
			text-align: left;
        }
        
        .project a {
            margin: 15px 0;
		}
		
		 .evenProject {

			.screenshot {
				order: 2;
			}

			.description, h3 {
				text-align: right;
			}

			a {
				margin: 15px 0 0 auto;
			}
		}
	}
}