.skills {
    background: $background;
    min-height: 100vh;

    .prism {
        margin: 40px auto 0 auto;
    }
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .galleryItem {
        width: 50%;
        font-size: 3rem;
        text-align: center;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $mainFont;
        transition: color $transition;
    }

    figcaption {
        padding-top: 10px;
        font-size: 1rem;
    }

    .firebase {
        width: 50px;
        margin: 0 auto;

        &:hover {
            fill: $accent1;
        }
    }

    .responsive {
        width: 78px;
        margin: 0 auto;
    }
}

@media (min-width: 550px) {
    .gallery {

        .galleryItem {
            width: calc(100% / 3);
        }
    }
}

@media (min-width: 800px) {
    .skills {
        width: 80%;
    }
}