// VARIABLES

$background: #f6f6f6;
$mainFont: #181818;
$accent2: darken(gold, 10%);

$transition: 0.15s ease-in-out;

$serifFont: 'Playfair Display', serif;
$sansSerifFont: 'Fauna One', serif;


// MIXINS



