@import "partials/setup.scss";
@import "partials/vars.scss";
@import "partials/global.scss";
@import "partials/nav.scss";
@import "partials/prism.scss";
@import "partials/header.scss";
@import "partials/about.scss";
@import "partials/skills.scss";
@import "partials/portfolio.scss";
@import "partials/footer.scss";